description "Kafka"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

limit nofile 32768 32768

# Rather than using setuid/setgid sudo is used because the pre-start task must run as root
exec sudo -Hu {{ user }} -g {{ group }} \
    KAFKA_HEAP_OPTS="{{ heap_opts }}" \
    {{ bin_dir }}/kafka-server-start.sh \
    {{ conf_dir }}/server.properties
