[Unit]
Description=Kafka Daemon
After=zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=32768
Restart=on-failure
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_opts }}"
ExecStart="{{ bin_dir }}"/kafka-server-start.sh "{{ conf_dir }}"/server.properties

[Install]
WantedBy=multi-user.target
